extends layout
 
block content

    h1 Edit Song 
    form(method='POST', action='/songs/edit/'+song._id)
      #form-group
        label Name: 
        input.form-control(name='name', type='text' , value=song.name)
      br
      #form-group
          label Artist: 
          input.form-control(name='artist', type='text' ,value=song.artist)
      br    
      input.btn.btn-primary(type='submit',value='Submit') 
    
