extends layout

block content
  h2 #{titles}
    if songs.length
      ul.list-group
        each song, i in songs
          li.list-group-item
            a(href='/songs/'+song.id)= song.name
    else
      h6 No Songs Added Yet...
