extends layout

block content
  h2 #{titles} 
    br
    if songs.length
      br
      ul.list-group
        each song, i in songs
          li.list-group-item 
            a(href='/songs/'+song.id)=  song.name 
            h2  #{song.artist} 
            input.btn.btn-secondary(onclick='listenNow(\'' + song.name + '\',\'' + song.artist + '\')' value='Listen Now')
            
        input.btn.btn-primary(value='Add Song' onclick="move()")
    else
      h6 No Songs Added Yet...
        input.btn.btn-primary(value='Add Song' onclick="move()")
    if user
    else
      input.btn.btn-primary(value='Login' onclick="navigateToLogin()")