extends layout  

block content
  h1  Title: #{song.name}
  h2  Artist: #{song.artist}
  hr
  a.btn.btn-primary(href='/song/edit/'+ song._id) Edit
  a.btn.btn-danger.delete-song(href='#' , data-id=song._id) Delete
