
/* bootstrap default style */

.alert-error {
color: #a94442;
background-color: #f2dede;
border-color: #ebccd1
}
.alert-success-msg{
  color: #3c7636;
  back-ground: #dff0d8;
  border-color: #d6e9c6;
}

.btn {

  margin : .5em;
}
